<!---
<p id="notice"><%= notice %></p>

<p>
  <strong>Image urls:</strong>
  <%= @advertise.image_urls %>
</p>

<p>
  <strong>Text:</strong>
  <%= @advertise.text %>
</p>

<%= link_to 'Edit', edit_advertise_path(@advertise) %> |


--->

<a id='myCheck' href="/advertises"></a>
<script>
 
  
  document.getElementById("myCheck").click();

</script>